/*p {
background-color: green;
color: white;}*/
p#wd-id-selector-1 {
    background-color: red;
    color: white;
}
p#wd-id-selector-2 {
    background-color: yellow;
    color: black;
}

.wd-fg-color-black { color: black; }
.wd-fg-color-white { color: white; }
.wd-fg-color-blue { color: #7070ff; }
.wd-fg-color-red { color: #ff7070; }
.wd-fg-color-green { color: green; }

.wd-border-fat { border-width: 20px 30px 20px 30px; }
.wd-border-solid { border-style: solid; }
.wd-border-red { border-color: red; }

